body {
  background-color: lightblue;
  color: white;
}

h1 {
  text-decoration: underline;
}

.section-1 {
  background-color: blue;
  font-size: 20px;
}

.section-2 {
  background-color: blue;
  font-size: 20px;
}

a {
  text-decoration: none;
}

section {
  height: 300px;
  width: 800px;
}

.image-1 {
  height: 100px;
  width: 100px;
}

.image-2 {
  height: 120px;
  width: 120px;
}

.image-3 {
  height: 130px;
  width: 140px;
}

.image-4 {
  height: 200px;
  width: 200px;
}
